@charset "UTF=8";

table {
    border-collapse: collapse;
    width: 670px;
}

caption {
    font-weight: bolder;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.733);
    color: aliceblue;
}

th, td {
    padding: 7px;
    border: 1px solid black;
    text-align: center;
}

thead {
    background-color: rgba(0, 0, 0, 0.679);
    color: white;
}

tbody {
    background-color: lightgray;
}