@charset "UTF-8";

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #010219;
    padding: 5px;
    height: 75px;
}

header img {
    height: 55px;
    padding: 10px;
    margin-left: 10vw;
}

header a {
    background-color: rgb(55,56,72);
    width: 130px;
    height: 20px;
    padding-top: 07px;
    padding-bottom: 04px;
    margin-top: 20px;
    margin-right: 10vw;
    font-size: .9em;
    text-align: center;
    text-decoration: none;
    color: rgb(231, 229, 229);
    border-radius: 35px;
    border: .3px solid gray;
}

header a:hover {
    font-weight: 700;
    cursor: pointer;
}

#secao1 {
    border-top: 2px solid transparent;
    border-image: linear-gradient(to left,#072460, #197AFB 40%, #072460);
    border-image-slice: 1;
    background-image: linear-gradient(to top, #00001E, #05040B);
    display: flex;
    flex-flow: column nowrap;
}

#secao1 h1 {
    color: white;
    font-size: 2.5em;
    text-align: center;
    margin-top: 60px;
    line-height: 1.3em;
    padding: 0px 25px;
}

#secao1 p {
    color: #ADBFBF;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.5em;
}

#img {
    background: url(../images/devises.png) center center no-repeat scroll;
    background-size: contain;
    height: 300px;
}

#secao1 > img {
    width: 55px;
    margin: auto;
    margin-bottom: 40px;
}

#plano-fundo {
    background-image: linear-gradient(to top, #000011 20%, #02021b);
    width: 100vw;
}

#alinhamento1, #alinhamento2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.container {
    border: 1px solid #232323;
    margin: 10px;
    color: white;
    font-weight: 700;
    font-size: .9em;
    width: 370px;
    height: 100px;
    border-radius: 10px;
}

.container img {
    float: left;
    width: 75px;
    height: 70px;
    padding: 20px 5px 30px 10px;
}

.container p {
    padding: 35px 10px 0px 0px;
}

#vid-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#video video {
    width: 255px;
    height: 483px;
    border-radius: 15px;
    border: 4px solid rgba(93, 93, 93, 0.568);
} 

#infoloja {
    display: flex;
    flex-flow: row wrap;
    color: white;
    background-image: linear-gradient(to right, #00000A, #00000C);
    border: 2px solid lightgray;
    border-radius: 10px;
    width: 30vw;
    max-width: 330px;
    height: 400px;
}

#infoloja h1 {
    font-size: 1.7em;
    margin: 20px 0px 10px 20px;
}

#infoloja p {
    font-size: .8em;
    margin-left: 20px;
}

#infoloja > a > img {
    height: 51px;
    border-radius: 100%;
}
