@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600;700&display=swap');

:root {
    --font: 'Libre Franklin', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: white url(imagens/copo-minimalista.jpg) center/cover no-repeat fixed;
}

#entrada-dados {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 450px;
    background-color: rgba(168, 168, 168, 0.437);
    border-radius: 10px;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.352);
}

#entrada-dados h1 {
    font: 700 2em var(--font);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 50px 20px 70px;
}

#nome, #senha {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

#iusername, #ipassword {
    border-radius: 15px;
    border: none;
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.544);
    width: 200px;
    height: 25px;
}

#options-password {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

#options-password p {
    font: normal .8em var(--font);
    margin-left: -20px;
}

#options-password a {
    text-decoration: none;
    color: black;
    font: normal .8em var(--font);
}

#options-password a:hover {
    text-decoration: underline;
}

#enviar {
    display: flex;
    justify-content: center;
    padding: 40px;
}

#enviar input {
    width: 300px;
    height: 35px;
    border-radius: 30px;
    border: none;
    background-color: rgba(0, 0, 0, 0.594);
    color: white;
}

#enviar input:hover {
    color: rgb(189, 189, 189);
}







